# Ignore node_modules folder
node_modules

# Ignore log files
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignore OS and IDE files
.DS_Store
.vscode
.idea

# Ignore Git files
.git
.gitignore

# Ignore build output
dist
.next
out

# Ignore coverage files
coverage

# Ignore temporary files
*.swp
*.swo
*.tmp
*.temp

# Ignore TypeScript files
*.tsbuildinfo
